.card {
    float: left;
    /* background: rgb(17, 54, 71); */
    background: white;
    border: 10px solid rgb(17,54,71);
    text-align: center;
    /* margin-bottom: 50px; */
    position: inline-block;
    width: 250px;
    height: 300px;
    margin: 30px 50px;
}

img {
    width: 80px;
    margin-top: 10px
}

.card:hover {
    transform: scale(.8)
}

ul {
    list-style-type: none;
    margin-top: 10px;
}

li {
    font-weight: 500;
    font-size: 110%;
    font-family: 'Patrick Hand', cursive;
}